
/* 
    FONTS GLOBALS

*/

@import '../typography/typography.scss';


$size1: 10px;
$size2: 12px;
$size3: 16px;
$size4: 20px;


$font-Open: "Open Sans",sans-serif;



//CONFIG

*{
    font-family: 'Marcellus';
}